<div class="container">
    <!--cria um mosaico de imagens-->
    <div class="gallery">
        <figure class="item1">
            <img src="assets/projetos/quarto.jpg" alt="Quarto" class="imagens">
        </figure>
        <figure class="item2">
            <img src="assets/projetos/banheiro.jpg" alt="Banheiro" class="imagens">
        </figure>
        <figure class="item3">
            <img src="assets/projetos/casa.jpg" alt="Casa" class="imagens">
        </figure>
        <figure class="item4">
            <img src="assets/projetos/cozinha.jpg" alt="Cozinha" class="imagens">
        </figure>
        <figure class="item5">
            <img src="assets/projetos/sala.jpg" alt="Sala" class="imagens">
        </figure>
        <figure class="item6">
            <img src="assets/projetos/jardim.jpg" alt="Jardim" class="imagens">
        </figure>
    </div>
</div>
