<div class="container">
    <div class="definicao">
        <h1>Quem somos?</h1>
        <hr>
        <p>
            TextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTexto TextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTexto TextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTexto TextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTexto
            TextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTexto TextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTexto
        </p>
    </div>

    <div class="missao">
        <h1>Nossa missão!</h1>
        <hr>
        <p>
            TextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTexto TextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTexto TextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTexto TextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTexto
            TextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTexto TextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTexto
        </p>
    </div>
</div>
