<mat-toolbar class="header">
    <!-- <span>
      <a href ="">
          <img class="logo" src="assets/logo.png" alt="[ERRO] Não foi possível carregar logo">
      </a>
  </span> Utilizado para colocar uma logo no header-->
    <span class="title-social">
      <a href=""> <!--Inserir link-->
         <img class="facebook" src="assets/icons/facebook.png" alt="facebook">

      </a>

      <a href=""><!--Inserir link-->
          <img class="instagram" src="assets/icons/instagram.png" alt="instagram">
      </a>

      <a href=""><!--Inserir link-->
          <img class="twitter" src="assets/icons/twitter.png" alt="twitter">
      </a>

  </span>

</mat-toolbar>